name: CI

on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Say hello
              run: echo "CI workflow is running!"

            - name: List files
              run: ls -la

            - name: Multi-arch build
              run: |
                   docker buildx build --platform linux/amd64,linux/arm64 \ -t backend:test .