name: CI

on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Say hello
              run: echo "CI workflow is running!"

            - name: List files
              run: ls -la
            
            - name: Docker build
              run: docker build .