name: deploy
on:
    push:
        tags:
            - 'v*.*.*' 
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
                  - name: SSH into EC2 (dry run)
                    uses: appleboy/ssh-action@v1.0.0
                    with:
                        host: ${{ secrets.EC2_HOST }}
                        username: ${{ secrets.EC2_USER }}
                        key: ${{ secrets.EC2_SSH_KEY }}
                        debug: true
                        script: |
                            set -e

                            echo "Deploying version: $GITHUB_REF_NAME"

                            docker pull manshusainishab/my-backend:${GITHUB_REF_NAME}

                            docker stop backend || true
                            docker rm backend || true

                            docker run -d \
                            --name backend \
                            --restart unless-stopped \
                            -p 5000:5000 \
                            --env-file /home/ubuntu/.env \
                            manshusainishab/my-backend:${GITHUB_REF_NAME}

                            echo "Deployment complete"
