name: release
on:
    push:
        tags:
            - 'v*.*.*'
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
            - name: Say hello
              run: echo "Release workflow is running!"

            - name: List files
              run: ls -la
            
            - name: Debug GitHub ref
              run: |
                echo "GITHUB_REF=${GITHUB_REF}"
                echo "GITHUB_REF_NAME=${GITHUB_REF_NAME}"

            - name: Build and push multi-arch image
              run: |
                docker buildx build \
                --platform linux/amd64,linux/arm64 \
                -t ${{ secrets.DOCKERHUB_USERNAME }}/my-backend:${GITHUB_REF_NAME} \
                --push .

    deploy:
      needs: release
      runs-on: ubuntu-latest
      steps:
          - name: Configure AWS credentials (OIDC)
            uses: aws-actions/configure-aws-credentials@v4
            with:
              role-to-assume: arn:aws:iam::187580527878:role/GitHubSSMDeployRole
              aws-region: ap-south-1

          - name: Deploy via AWS SSM
            run: |
              aws ssm send-command \
                --instance-ids i-0f3b721e62a94ad9f \
                --document-name "AWS-RunShellScript" \
                --comment "Deploy backend ${GITHUB_REF_NAME}" \
                --parameters commands="
                  docker pull manshusainishab/my-backend:${GITHUB_REF_NAME} &&
                  docker stop backend || true &&
                  docker rm backend || true &&
                  docker run -d \
                    --name backend \
                    --restart unless-stopped \
                    -p 5000:5000 \
                    --env-file /home/ubuntu/.env \
                    manshusainishab/my-backend:${GITHUB_REF_NAME}
                "