name: release
on:
    push:
        tags:
            - 'v*.*.*'
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
            - name: Say hello
              run: echo "Release workflow is running!"

            - name: List files
              run: ls -la

            - name: Build and push multi-arch image
              run: |
                docker buildx build \
                --platform linux/amd64,linux/arm64 \
                -t ${{ secrets.DOCKERHUB_USERNAME }}/my-backend:${GITHUB_REF_NAME} \
                --push .